body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.image{
    height: 150px;
    width: 250px;
    margin: 20px;
    background-size: cover;
}
.galleryButtons {
    text-align: center;
    margin-top: clamp(1rem, 10vw, 2rem);
}
.buttonclass{
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 0px;
}
.container{
    max-width: 1500px;
    margin: 2rem auto;
}
.active{
    background-color: #000;
    color:#fff;
}